@keyframes changeOrder {
  from { z-index: 9;}
  to { z-index: 1; }
}

@keyframes handShake {
  0%,100% { transform: rotate(10deg); }
  50% { transform: rotate(-10deg); }
}

@keyframes handShake2 {
  0%,100% { transform: rotateY(180deg) rotate(10deg); }
  50% { transform: rotateY(180deg) rotate(-10deg); }
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  font-family: 'Cinzel Decorative', cursive;
}

form {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h3 {
  text-align: center;
}

#hands {
  text-align: center;
}

input:checked ~ div .hand {
  animation: none !important;
}

.hand {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
  transform: rotate(10deg);
  display: inline-block;
  animation: handShake 2s infinite;
}

.hand > div {
  position: absolute;
  box-sizing: border-box;
  border: 2px solid black;
  background: rgb(233, 209, 179);;
  transition: all 0.1s;
}

.fist {
  height: 110px;
  left: 40px;
  top: 50px;
  width: 90px;
  border-radius: 20px 0 0 20px;
}

.finger {
  width: 70px;
  height: 30px;
  border-radius: 20px;
  left: 80px;
  transform-origin: 0 50%;
}

.finger-1 { top: 50px;}
.finger-2 { top: 78px; left: 84px;}
.finger-3 { top: 106px;}
.finger-4 { top: 134px; height: 26px; left: 76px;}

div.thumb {
  width: 35px;
  height: 70px;
  
  border-radius: 0 20px 20px 20px;
  top: 50px;
  left: 80px;
  border-left: 0 solid;
  box-shadow: -17px 6px 0 -15px black;
}

div.arm {
  width: 22px;
  height: 70px;
  left: 20px;
  top: 70px;
  border: 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#user-hand {
  transform: rotateY(180deg);
  animation: handShake2 2s infinite;
  position: relative;
}

input[type="radio"] {
  position: absolute;
  top: -1000in;
  left: -1000in;
}

input[id$="scissors"]:checked ~ div #user-hand .finger-1,
input[id^="scissors"]:checked ~ div #computer-hand .finger-1 {
  width: 130px;
  transform:rotate(-5deg);
}

input[id$="scissors"]:checked ~ div #user-hand .finger-2,
input[id^="scissors"]:checked ~ div #computer-hand .finger-2 {
  width: 130px;
  transform:rotate(5deg);
}

input[id$="paper"]:checked ~ div #user-hand .finger-1,
input[id^="paper"]:checked ~ div #computer-hand .finger-1{
  left: 124px;
  width: 80px;
  border-left: 0;
  border-radius: 0 20px 20px 0;
}
input[id$="paper"]:checked ~ div #user-hand .finger-2,
input[id^="paper"]:checked ~ div #computer-hand .finger-2{
  left: 128px;
  width: 80px;
  border-left: 0;
  border-radius: 0 20px 20px 0;
}
input[id$="paper"]:checked ~ div #user-hand .finger-3,
input[id^="paper"]:checked ~ div #computer-hand .finger-3{
  left: 124px;
  width: 80px;
  border-left: 0;
  border-radius: 0 20px 20px 0;
}
input[id$="paper"]:checked ~ div #user-hand .finger-4,
input[id^="paper"]:checked ~ div #computer-hand .finger-4 {
  left: 116px;
  width: 80px;
  border-left: 0;
  border-radius: 0 20px 20px 0;
}
#rock-rock:checked ~ div #gameover,
#paper-paper:checked ~ div #gameover,
#scissors-scissors:checked ~ div #gameover {
  background-image: url(../images/tied.png);
}
#rock-paper:checked ~ div #gameover,
#paper-scissors:checked ~ div #gameover,
#scissors-rock:checked ~ div #gameover {
  background-image: url(../images/win.png);
}
#rock-scissors:checked ~ div #gameover,
#paper-rock:checked ~ div #gameover,
#scissors-paper:checked ~ div #gameover{
  background-image: url(../images/lose.png);
}

#message {
  display: none;
}

input:checked ~ #message {
  display: block;
}
input:checked ~ #icons img {
  display: none;
}
input:checked ~ div h3{
  display: none;
}
#gameover{
  position: absolute;
  top:0;
  left:0;
  width:0px;
  height:0px;
  background:rgba(0,0,0,0.5);
  background-position:center 15%;
  animation-name:gameover;
  animation-timing-function:linear;
  animation-duration:1s;
  animation-fill-mode: both; 
  z-index:11;
  background-repeat:no-repeat;
  opacity:0;
}

@keyframes gameover{
  0% {top:-1000px;opacity:0;width:100%;height:100%;}
  100% {top:0px;opacity:1;width:100%;height:100%;}
}

#hands {
  display: flex;
  align-items: center;
  justify-content: center;
}

#icons {
  width: 200px;
  height: 60px;
  display: inline-flex;
  flex-direction: row;
}

#icons > div {
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  overflow: hidden;
  position: relative;
}


label:active {
  position:static; 
  margin-left: 60px;
}

label:active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  z-index: 10;
  height: 60px;
}


label {
  animation: changeOrder 0.45s infinite linear;
  background: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: inline;
  line-height: 60px;
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
}

label:nth-of-type(1) { animation-delay: -0.00s; }
label:nth-of-type(2) { animation-delay: -0.15s; }
label:nth-of-type(3) { animation-delay: -0.30s; }

input[type="reset"] {
  position: relative;
  bottom: 40px;
  background-color: rgb(145, 214, 226);
  padding: .7em;
  margin-top: 2em;
  border-radius: .5em;
  font-weight: bold;
  font-family: 'Cinzel Decorative', cursive;
  z-index: 12;
}
